html, body {
	height:100%;
	overflow-y: visible;
	user-select: auto;
}

select {
  font-family: 'FontAwesome', 'sans-serif';
}

div.content {
	margin:10px;
	width:100%;
	height:100%;
}

div.setting {

	overflow: visible;
	margin-bottom:10px;
}

button.reload {
	background-color: #fff;
	cursor: pointer;
	margin: 2px; 
	width: auto;
	text-align: left;
	border: none;
	outline: none;
}

.reloadicon {
	color: #9E9EBC;
}

/* ------------------------------< send >------------------------------*/
div.sendBox {
	overflow-y : auto;
	margin-left: 15px;
}

div.sendBox font, div.sendBox button{
	margin-left: 15px;
}

/*padding off*/
div.sendBox div, .soption input{
	padding: 0;
	padding-right: 0px;
  padding-left: 0px;
}

/*.sendOption.collapsing {
    transition: all .2s cubic-bezier(1.000, 0.005, 1.000, 0.150);
}
*/
input.sendData {
	margin-bottom: 4px;    
	margin-bottom: 4px;
}

textarea.receive {
	/*margin-top: 10px;*/
	/*padding-top: 10px;*/
}

button.sendOption {
	background-color: #fff;
	cursor: pointer;
	margin: 2px;
	width: auto;
	text-align: left;
	border: none;
	outline: none;
	-webkit-transition: all 0.2s;
}

button.sendOption.active, button.sendOption:hover {
	
}

.soicon1 {
	-webkit-transition: all 0.2s;
	transform: rotateZ( 0deg ) ;
	color: #E58BCA;
}

.soicon2 {
	-webkit-transition: all 0.2s;
	transform: rotateZ( 90deg ) ;
	color: #E58BCA;
}

.sendOption.active .soicon1 {
	transform: rotateZ( 360deg );
	color: #428bca;
}
.sendOption.active .soicon2 {
	transform: rotateZ( 360deg );
	color: #428bca;
}


/* ------------------------------< receive >------------------------------*/
.serialMonitor {
	width:100%;
}
.serialPlotter {
	-webkit-animation: all 0.2;
	/*-webkit-animation: wideplotter 0.2s linear forwards;*/
	animation-direction: reverse;
	width:0px;
	margin:0px;
	padding: 0px;
	overflow: hidden;
	border: solid 1px rgba(220,245,255,0.5);
/*	max-width: 800px;*/
}
.serialLogger {
	-webkit-animation: all 0.2;
	/*-webkit-animation: widelogger 0.2s linear forwards;*/
	animation-direction: reverse;
	width:100%;
	max-width: 700px;
	border: solid 1px rgba(220,245,255,0.5);
}

textarea.receive {
	height:auto;
	margin-bottom: 10px;
}

div.receiveBox{
	margin-bottom: 10px;
}
div.receiveBox div{
	display: inline-block ;
	margin-left: 10px;
}

div.roption {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*.receiveOption.collapsing {
    transition: all .5s cubic-bezier(1.000, 0.005, 1.000, 0.150);
}*/

div.roption1 {
	overflow: visible;
	margin-top: 10px;
	margin-bottom: 10px;	
}

div.roption2 div{
	display: inline-block ;
	margin-left: 10px;
}

button.receiveOption {
	background-color: #fff;
	cursor: pointer;
	margin: 2px;
	width: auto;
	text-align: left;
	border: none;
	outline: none;
	transition: all 0.2s;
}

button.receiveOption.active, button.receiveOption:hover {
	
}

.roicon {
	-webkit-transition: all 0.2s;
	transform: rotateZ( 0deg ) ;
	color: #9E9EBC;
}

.receiveOption.active .roicon {
	transform: rotateZ( 360deg );
	color: #428bca;
}

div.log {
	width: 100%;
  max-width: 700px;
  height: 500px;
  border-style: solid;
  border-width: 1px;
  border-color: #428bca;
  overflow-y :scroll;
  margin-bottom: 10px;
}

.log pre{
	background-color:#F7FBFF;
	margin: 0;
	padding: 0;
	border-style: none;
	display: inline ;
}

.log pre.sendlog{
	background-color:#FFEDED;
	margin: 0;
	padding: 0;
	border-style: none;
	display: block;
}

.log pre.ts{
	background-color:#E6FFDD;
	margin: 0;
	padding: 0;
	border-style: none;
	display: block; ;
}


/*-------------------------------------< highlight >-------------------------------------*/
.searchHighlight{
	overflow: visible;
	height:auto;
}

input.searchStr {
	margin-bottom: 4px;    
	margin-bottom: 4px;
}

.btn-colorselector {
  width: 26px !important;
  height: 26px !important;
  margin-top: 1px !important;
}

/* text highlight */
.hl-FF8484 {background-color: #FF8484 !important; }
.hl-FFAAAA {background-color: #FFAAAA !important; }
.hl-FFBA89 {background-color: #FFBA89 !important; }
.hl-FFF0AA {background-color: #FFF0AA !important; }
.hl-E9FFAA {background-color: #E9FFAA !important; }
.hl-ADFFAA {background-color: #ADFFAA !important; }
.hl-CEFFF8 {background-color: #CEFFF8 !important; }
.hl-AAE5FF {background-color: #AAE5FF !important; }
.hl-E7B7FF {background-color: #E7B7FF !important; }
.hl-C3AFFF {background-color: #C3AFFF !important; }

/*-------------------------------------< ploter >-------------------------------------*/
.serialPlotter canvas{
	margin:10px;
	background-color: #AAFFFF;
	width :100%;
	height:800px;
}

/*-------------------------------------< animation >-------------------------------------*/
.spin-icon {
    color: #9E9EBC;
    -webkit-animation: spin-icon 0.2s;
    animation-direction: normal;
}
@-webkit-keyframes spin-icon{
  0% { -webkit-transform :rotateZ(0deg) scale(1.0);}
  50% {
  	-webkit-transform :rotateZ(180deg) scale(1.3);
  	color: #1AD086;
  }
  100% { -webkit-transform :rotateZ(360deg) scale(1.0);}
}

.green-flash {
    -webkit-animation: green-flash 0.2s;
    animation-direction: normal;
}
@-webkit-keyframes green-flash{
  0% {}
  50% {box-shadow:0px 0px 5px 0px #1AD086;}
  100% {}
}

.blue-flash {
    -webkit-animation: blue-flash 0.2s;
    animation-direction: normal;
}
@-webkit-keyframes blue-flash{
  0% {}
  50% {box-shadow:0px 0px 5px 0px #428bca;}
  100% {}
}

.red-flash {
    -webkit-animation: red-flash 0.2s;
    animation-direction: normal;
}
@-webkit-keyframes red-flash{
  0% {}
  50% {box-shadow:0px 0px 5px 0px #d01a1a;}
  100% {}
}

.widelogger {
    -webkit-animation: widelogger 0.2s linear forwards;
    animation-direction: normal;
}
@-webkit-keyframes widelogger{
  0% {width:700px;}
	100% {width: 350px;}
}

.wideplotter {
    -webkit-animation: wideplotter 0.2s linear forwards;
    animation-direction: normal;
}
@-webkit-keyframes wideplotter{
  0% {width:0px;}
	100% {width: calc( 100% - 350px);}
}




