select {
  font-family: 'FontAwesome', 'sans-serif';
}

div.content {
	padding:10px;
	width:100%;
	height:100%;
	overflow: scroll;
}

div.setting {
	overflow: auto;
	margin-bottom:10px;
}

/* ------------------------------< send >------------------------------*/
div.sendBox {
	overflow-y : auto;
}

div.soption {
    display: none;
}
div.soption.active {
	display: block;
}

input.sendData {
	margin-bottom: 4px;
}

button.sendOption {
    background-color: #fff;
    cursor: pointer;
    padding: 2px;
    width: auto;
    text-align: left;
    border: none;
    outline: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

button.sendOption.active, button.sendOption:hover {
    
}
/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

.soicon1 {
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
	transform: rotateZ( 0deg ) ;
	color: #E58BCA;
}

.soicon2 {
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
	transform: rotateZ( 90deg ) ;
	color: #E58BCA;
}

.sendOption.active .soicon1 {
	transform: rotateZ( 360deg );
	color: #428bca;
}
.sendOption.active .soicon2 {
	transform: rotateZ( 360deg );
	color: #428bca;
}

/* ------------------------------< receive >------------------------------*/
textarea.receive {
    height:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

div.receiveBox{
    overflow: auto;
    margin-bottom: 10px;
}

div.roption {
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}
div.roption.active {

    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

button.receiveOption {
    background-color: #fff;
    cursor: pointer;
    padding: 2px;
    width: auto;
    text-align: left;
    border: none;
    outline: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

button.receiveOption.active, button.receiveOption:hover {
    
}

.roicon {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    transform: rotateZ( 0deg ) ;
    color: #E58BCA;
}

.receiveOption.active .roicon {
    transform: rotateZ( 360deg );
    color: #428bca;
}

div.log {
  width: 500px;
  height: 500px;
  background-color: red;
  overflow: scroll;
}



.color-select {
    height: 30px;
    padding-right: 0px;
    padding-left: 0px;
}